body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -10px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #8a2be2;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 60px;
  right: 110px;
}
.users {
  background-color: #C7E4ED;
  min-height:100px;
  border-radius:15px;
}
  li{
    list-style-type: none;
  }

.messages {
  border: 1px solid #4D99B3;
  border-radius:15px;
  min-height:350px;
  padding:10px;
  max-height:350px;
  overflow-y: scroll;
}
  li{
    list-style-type: none;
  }
