body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -10px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #8a2be2;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 60px;
  right: 110px;
}
.users {
  border: 1px solid #C7E4ED;
  border-color: #C7E4ED;
  min-height:350px;
  max-height:350px;
  max-height:350px;
  overflow-y: scroll;
  border-radius:15px;
}
  li{
    list-style-type: none;
  }

.messages {
  border: 1px solid #4D99B3;
  border-radius:15px;
  min-height:350px;
  max-height:350px;
  width:700px;
  padding:10px;
  overflow-y: scroll;
}
  li{
    list-style-type: none;
  }
.userinput {
  width:700px;
  margin-top:10px;
  margin-bottom:10px;
}
