extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") FolkHub
          h6 A hub where folks hang out
      .navbar-collapse.collapse(ng-controller="mvAccountCtrl as login")
        ul.nav.navbar-nav(ng-show="identity.isAuthenticated()")
          li
            a(href="/{{identity.currentuser.username}}/hubs") My Hubs 
          li 
            a(href="/hubs" ) Discover
          li
            a(href="/create") Create Hub
        div(ng-include="'/partials/account/menu-login'")
  section.content
    div(ng-view)
  
  footer.container.text-center.margin-20
    p &copy; 2016 FolkHub 
