.container
  .panel.panel-primary
    //- .panel-heading.text-center History of messages

  .row
    .col-md-12
      //- .form-control
      textarea.form-control(name="usermessageHistory" rows="10" cols="20" resize="none")

  .row
    .col-md-12
      //- .form-control
      input.form-control(placeholder="Your message here :)", type="text" ng-model="usermessage")
        
  .row
    .col-md-12
      button.btn.btn-primary(ng-click="send()") Talk
