.navbar-right(ng-controller="mvAccountCtrl as login")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .form-group
      input.form-control(placeholder="Email", ng-model="email")
    .form-group
      input.form-control(placeholder="Password", type="password" ng-model="password")
    button.btn.btn-primary(ng-click="authenticate(email, password)") Sign in
    div.text-right
      .form-group 
        a(href="/signup", ng-click="" style="text-decoration:none") Sign Up
  ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        |{{identity.currentuser.username}}
        b.caret
      ul.dropdown-menu
        li
          a(href="/profile", ng-click="") Profile
        li(ng-show="identity.currentuser.isAdmin()")
          a(href="/admin/users", ng-click="") User Admin
        li(ng-show="identity.currentuser.isAdmin()")
          a(href="/admin/hubs", ng-click="") Hub Admin
        li 
          a(href="", ng-click="signOut()") Sign out
