if !!bootstrappedUser
  script.
    window.bootstrappedUserObject = !{JSON.stringify(bootstrappedUser)}
//- if !!clientID
//-   script
//-     window.clientSessionObject = !{JSON.stringify(clientID)}
